{% extends 'base_user.html' %}
{% load static %}

{% block ext_css %}
    {{ block.super }}
{% endblock %}

{% block ext_js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'axf/user/js/login.js' %}"></script>
{% endblock %}

{% block header %}
    {{ block.super }}
{% endblock %}

{% block content %}
    {{ block.super }}

    <div id="container">
        <form action="{% url 'axf:login' %}" method="post" onsubmit="return parse_data()">
            {% csrf_token %}
            <div class="form-group">
                <label for="name">用户名：</label>
                <input type="text" class="form-control" name="name" id="name" placeholder="请输入用户名">
            </div>
            <div class="form-group">
                <label for="password">密码：</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="请输入密码">
            </div>
            <button type="submit" class="btn btn-success btn-block">登陆</button>
        </form>
    </div>
{% endblock %}