{% extends 'base_user.html' %}

{% block ext_css %}
    {{ super() }}
{% endblock %}

{% block ext_js %}
    {{ super() }}
{#    <script type="text/javascript" src="{% static 'axf/user/js/login.js' %}"></script>#}
    <script type="text/javascript" src="{{ url_for('static', filename='axf/user/js/login.js') }}"></script>
{% endblock %}

{% block header %}
    {{ super() }}
{% endblock %}

{% block content %}
    {{ super() }}

    <div id="container">
{#        <form action="{{ url_for('blue.login') }}" method="post" onsubmit="return parse_data()">#}
        <form action="{{ url_for('blue.login') }}" method="post">
            <div class="form-group">
                <label for="name">用户名：</label>
                <input type="text" class="form-control" name="name" id="name" placeholder="请输入用户名">
            </div>
            <div class="form-group">
                <label for="password">密码：</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="请输入密码">
            </div>
            <button type="submit" class="btn btn-success btn-block">登陆</button>
        </form>
    </div>
{% endblock %}